@font-face {
  font-family: 'violy_fonts';
  src: url('../font/violy_fonts.eot?77986192');
  src: url('../font/violy_fonts.eot?77986192#iefix') format('embedded-opentype'),
       url('../font/violy_fonts.woff2?77986192') format('woff2'),
       url('../font/violy_fonts.woff?77986192') format('woff'),
       url('../font/violy_fonts.ttf?77986192') format('truetype'),
       url('../font/violy_fonts.svg?77986192#violy_fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'violy_fonts';
    src: url('../font/violy_fonts.svg?77986192#violy_fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "violy_fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-001-contract:before { content: '\e800'; } /* '' */
.icon-002-arroba:before { content: '\e801'; } /* '' */
.icon-003-wall-clock:before { content: '\e802'; } /* '' */
.icon-004-fax:before { content: '\e803'; } /* '' */
.icon-005-chat:before { content: '\e804'; } /* '' */
.icon-006-megaphone:before { content: '\e805'; } /* '' */
.icon-007-printer:before { content: '\e806'; } /* '' */
.icon-008-calendar:before { content: '\e807'; } /* '' */
.icon-009-house:before { content: '\e808'; } /* '' */
.icon-010-sms:before { content: '\e809'; } /* '' */
.icon-011-telephone:before { content: '\e80a'; } /* '' */
.icon-012-mouse:before { content: '\e80b'; } /* '' */
.icon-013-portfolio:before { content: '\e80c'; } /* '' */
.icon-014-3d-modeling:before { content: '\e80d'; } /* '' */
.icon-015-target:before { content: '\e80e'; } /* '' */
.icon-016-design:before { content: '\e80f'; } /* '' */
.icon-017-layers:before { content: '\e810'; } /* '' */
.icon-018-responsive:before { content: '\e811'; } /* '' */
.icon-019-coding:before { content: '\e812'; } /* '' */
.icon-020-settings:before { content: '\e813'; } /* '' */
.icon-021-vector:before { content: '\e814'; } /* '' */
.icon-022-sharing:before { content: '\e815'; } /* '' */
.icon-023-prototype:before { content: '\e816'; } /* '' */
.icon-024-cms:before { content: '\e817'; } /* '' */
.icon-025-view:before { content: '\e818'; } /* '' */
.icon-026-conversation:before { content: '\e819'; } /* '' */
.icon-027-pyramid:before { content: '\e81a'; } /* '' */
.icon-028-settings-1:before { content: '\e81b'; } /* '' */
.icon-029-typography:before { content: '\e81c'; } /* '' */
.icon-030-content:before { content: '\e81d'; } /* '' */
.icon-031-settings-2:before { content: '\e81e'; } /* '' */
.icon-032-css:before { content: '\e81f'; } /* '' */
.icon-033-layers-1:before { content: '\e820'; } /* '' */
.icon-034-design-1:before { content: '\e821'; } /* '' */
.icon-035-3d-modeling-1:before { content: '\e822'; } /* '' */
.icon-036-portfolio-1:before { content: '\e823'; } /* '' */
.icon-037-coding-1:before { content: '\e824'; } /* '' */
.icon-038-target-1:before { content: '\e825'; } /* '' */
.icon-039-megaphone-1:before { content: '\e826'; } /* '' */
.icon-040-chess:before { content: '\e827'; } /* '' */
.icon-041-user:before { content: '\e828'; } /* '' */
.icon-042-presentation:before { content: '\e829'; } /* '' */
.icon-043-global:before { content: '\e82a'; } /* '' */
.icon-044-shopping-bag:before { content: '\e82b'; } /* '' */
.icon-045-label:before { content: '\e82c'; } /* '' */
.icon-046-verified:before { content: '\e82d'; } /* '' */
.icon-047-review:before { content: '\e82e'; } /* '' */
.icon-048-rate:before { content: '\e82f'; } /* '' */
.icon-049-name:before { content: '\e830'; } /* '' */
.icon-050-user-1:before { content: '\e831'; } /* '' */